@import "_grid.less";

.news{
   .container-fluid();

   .news-container{
      .row();
      .md({background-color: #bfaa;});
      background-color: #bba;
      justify-content: center;


      .news-block{
         .col();
         .size(4);
         .size-lg(5);
         .size-md(4);
         .size-sm(2);
         .size-xs(12);
         .sm({background-color: #aaf;});
         background-color: #ffaa;
      }
   }
}